<%- include('header') %>
<div class="container">
    <div class="logo">
    <h1>
    <a href="/">
      <img src="./imgs/ConvertMyMoneyWhite.png" alt="">
    </a>
    </h1>
    </div>
  <div class="result">
  <% if(error){ %>
    <%= error %>
  <% } else { %>
    <p><%= quantidade %> reais na cotação de </p>
    <p>R$ <%= cotacao %> da um total de </p>
    <p>R$ <%= conversao %></>
  <% } %>
  </div>

   
</div>
<%- include('footer') %>
